/**
 * /* body {
 *     background-color: thistle;
 * }
 * 
 * 
 * .em-img {
 *     float: left;
 *     margin: 10px;
 * }
 * 
 * .my-nav {
 *     background-color: cadetblue;
 *     border-radius: 3px;
 *     border: black 6px double;
 * }
 * 
 * .main-container {
 *     background-color: cadetblue;
 *     border-radius: 3px;
 *     border: black 6px double;
 * }
 *
 * @format
 */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
}
.w3-bar,
h1,
button {
	font-family: "Montserrat", sans-serif;
}
.fa-anchor,
.fa-coffee {
	font-size: 200px;
}
